/* Regole generali da mettere sempre */
html {
    font-family: "Brygada 1918", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

img {
    max-width: 100%;
}
/* Layout */

/* .conteiner{
    max-width: 1024px;
    margin: 0 auto;
} 

.row {
    flex-wrap: wrap;
    display: flex;
} */

/* Header */

.page-header {
    background-color:#ff6900;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

img {
    height: 40px;
    display: block;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

/* Main */

.Boolando {
    padding: 50px;
}

.colonna {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.colonna p {
    font-weight: bold;
}

.row-2{
    display: flex;
    justify-content: center;
}

.colonna-33{
    padding: 14px;

}

.colonna-33 img {
    height: 300px;
}

.sub-title {
    font-size: 13px;
}

strong {
    font-size: 14px;
}

.price {
    color: red;
    display: inline-block;
    font-size: 13px;
}

.price-2{
    text-decoration: line-through;
    display: inline-block;
    font-size: 13px;
}

.sub-col{
    border-left: solid 2px #dddddd;
    border-right: solid 2px #dddddd;
    border-bottom: solid 2px #dddddd;
}

.page-footer {
    background-color: black;
    height: 80px;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.container-footer-1{
    color: white;
    font-size: 13px;
}
 
.container-footer-2{
    color: white;
    font-size: 13px;
}



